<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linklerz™ | Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/static/favicon/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/static/favicon/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/static/favicon/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/static/favicon/mstile-310x310.png"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>

    <!-- end -->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/img/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_login/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_login/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_login/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_login/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css_login/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css_login/main.css">
    <link rel="stylesheet" href="/static/css_login/google_btn.css">
    <link rel="stylesheet" href="/static/css_login/verification.css">
    <!--===============================================================================================-->
</head>

<body onload="openwindow()">

<div class="limiter">
    <div class="container-login100" style="background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/static/img/linklerz_logo.png" alt="IMG">
            </div>
            {% if login_type == "Member" %}
            <form class="login100-form validate-form" action="/login" method="POST">
                {% else %}
                <form class="login100-form validate-form" action="/admin" method="POST">
                    {% endif %}
                    <span class="login100-form-title">
                            {{login_type}} Login
                        </span> {% if login_fail != "" -%}
                    <div class="text-center pb-3">
                        <a class="txt2" href="#" style="color: red;">
                            {{login_fail}}
                        </a>
                    </div>
                    {% else %}
                    <div></div>
                    {% endif %}
                    <div class="wrap-input100 validate-input" data-validate="username/email is required">
                        <input class="input100" type="text" value="{{
                            request.form.username }}" name="username" placeholder="Username/Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                    </div>

                    <div  class="wrap-input100 validate-input" data-validate="Password is required">
                        <input style="margin-bottom: 35px;" id="passInput" class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                            <span id="showPass" onclick="showPassword()">Show</span>
                    </div>
                    {% if auth == 'yes' %}
                    <script>
                    function openwindow() {
// <!--                    console.log('authon');-->
                    document.getElementById("authwindow").click(); // Click on the checkbox
                    }




                    </script>
                    {% else %}
                    <script>
                        function openwindow() {
                            console.log('noauth');
                        }

                    </script>
                    {% endif %}

                    <button style="display: none;" class="login100-form-btn mt-4" id="authwindow" type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#myModal">
                        Login
                    </button>
                    <button id="submitButton" class="login100-form-btn mt-4">
                        Login
                    </button>


                    <div class="text-center p-t-12">
                            <span class="txt1">
                                Forgot
                            </span>
                        <a class="txt2" href="/recovery">
                            Username / Password?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <a href="{{authorization_url}}" style="cursor: pointer;">
                            <div class="google-btn">
                                <div class="google-icon-wrapper">
                                    <img class="google-icon"
                                         src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                </div>
                                <p class="btn-text"><b>Sign in with google</b></p>
                            </div>
                        </a>

                    </div>

                    <div class="container-login100-form-btn">
                        <a href="facebook/" style="cursor: pointer;">
                            <div class="google-btn">
                                <div class="google-icon-wrapper">
                                    <img class="google-icon"
                                         src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-facebook-social-media-justicon-flat-justicon.png"/>
                                </div>
                                <p class="btn-text"><b>Login with Facebook</b></p>
                            </div>
                        </a>
                    </div>


                    <div class="text-center p-t-50">
                        <a class="txt2" href="/signup" style="font-size: larger;">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>

                <!-- Verification Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div id="app">
                                    <div class="container d-flex justify-content-center align-items-center">
                                        <div class="position-relative">
                                            <div class="card p-2 text-center">
                                                <h6>Please enter the one time password <br> &nbsp;</h6>
                                                <div><span> sent to</span> <small>{{ phone }}</small></div>
                                                <form method="POST" action="/auth_verify/{{ userid }}/{{ args_authid }}">
                                                    <div id="otp"
                                                         class="inputs d-flex flex-row justify-content-center mt-2">
                                                        <input
                                                                class="m-2 text-center form-control rounded" type="text"
                                                                id="input1"
                                                                v-on:keyup="inputenter(1)" name="otpinput1"
                                                                maxlength="1"/> <input
                                                            class="m-2 text-center form-control rounded"
                                                            v-on:keyup="inputenter(2)"
                                                            type="text" id="input2" name="otpinput2" maxlength="1"/>
                                                        <input
                                                                class="m-2 text-center form-control rounded"
                                                                v-on:keyup="inputenter(3)"
                                                                type="text" id="input3" name="otpinput3" maxlength="1"/>
                                                        <input
                                                                class="m-2 text-center form-control rounded"
                                                                v-on:keyup="inputenter(4)"
                                                                type="text" id="input4" name="otpinput4" maxlength="1"/>
                                                    </div>
                                                    <div class="mt-4">
                                                        <button class="login100-form-btn mt-4">
                                                            Verify
                                                        </button>
                                                    </div>
                                                </form>
                                                <div class="mt-3 content d-flex justify-content-center align-items-center">
                                                    <span>Didn't get the code</span>
                                                    <a href="#" class="text-decoration-none ms-3">Resend(1/3)</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<script src="/static/js_login/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!--===============================================================================================-->
<script src="/static/js_login/verification.js"></script>
<script src="/static/vendor_login/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/static/vendor_login/bootstrap/js/popper.js"></script>
<script src="/static/vendor_login/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/static/vendor_login/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/static/vendor_login/tilt/tilt.jquery.min.js"></script>
<script>
        $('.js-tilt').tilt({
            scale: 1.1
        })








</script>
<!--===============================================================================================-->
<script src="/static/js_login/login.js"></script>

</body>

</html>