<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linklerz™ | Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/static/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/static/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/static/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/static/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/static/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/static/favicon/mstile-310x310.png" />

    <!-- end -->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/animate/animate.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/css-hamburgers/hamburgers.min.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/animsition/css/animsition.min.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/select2/select2.min.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/daterangepicker/daterangepicker.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/noui/nouislider.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css_home/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css_home/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/field.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="/static/css_login/google_btn.css">
    <link rel="stylesheet" type="text/css" href="/static/css_home/style.css">
    <!--===============================================================================================-->

</head>

<body style="font-family: Montserrat-SemiBold">
    
    <div class="container-contact100" style="background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);">

        <div class="wrap-contact100" style="padding-bottom: 0px; padding-top: 0px;">
         <div class="loader-line" id="loader-line" style="display:none"></div>


            <div class="float-right mt-3">
                <a href="/login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                    </svg>
                </a>
            </div>

            <span class="contact100-form-title" style="padding: 30px; font-family: Montserrat-SemiBold;font-size: xx-large;">
                <img src="/static/img/logo.png" alt=""> Welcome to Linklerz™
            </span>
            
            
            <span class="contact100-form-title" style="font-size: large; padding-bottom: 20px;">
<!-- 
                <h3 class="mb-4" style="font-family: Montserrat-SemiBold; font-size: x-large;">Just few more steps!</h3> -->
                <h3 class="mb-3" style="font-family: Montserrat-SemiBold; font-size: small;">Already have account? <a href="/login" style="text-decoration: underline;font-family: Montserrat-SemiBold; font-size: small;">Login</a> </h3>
            <form class="contact100-form validate-form" action="/signup_test" method="POST">
          <div class="outer">

                    <h3 class="mb-2 invalid" id="myError" style="font-family: Montserrat-SemiBold; font-size: small;"></h3>
               
                 <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 inner mb-4" data-validate="Enter Your Full Name (e@Sid)">
                    
            <span class="label-input100 float-left">Fullname *</span>
            <input id="fullnameInput" class="input100" type="text" value="{{
                request.form.username }}" name="username" placeholder="Enter your full name" required>
        </div>
      
                    <div id="emailDiv" class="wrap-input100 validate-input bg1 rs1-wrap-input100 inner mb-4" data-validate="Enter Your Email (e@a.x)">
                        <span class="label-input100 float-left">Email *</span>
            <input id="emailInput" class="input100" type="email" value="{{
                request.form.email }}" name="email" placeholder="Enter Your Email " required>
        </div>
       
        <div id='passDiv' class="wrap-input100 bg1 rs1-wrap-input100 inner mb-4">

            <!-- show password button -->
           <a  id="eyeShow"  style="cursor: pointer;"  onclick="showPass()"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye float-right" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
</svg></a>

<!-- hide password button -->
<a id="eyeHide" style="cursor: pointer;display: none;"  onclick="showPass()"> <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash float-right" viewBox="0 0 16 16">
  <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
  <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
  <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
</svg></a>
            <span class="label-input100 float-left">Password *</span>
            <input class="input100" id="passInput" type="password" name="password" minlength="8" placeholder="Enter a Password" required >
        </div>
         <h3 class="mb-2 invalid" id="passError" style="font-family: Montserrat-SemiBold; font-size: small;display: none;">Password minimum 8 characters </h3>

    </div>
    </form>

    <div class="outer">
        <div class="container-contact100-form-btn mb-5 " style="margin-top: 0px; ">
            
<button class="button" id="submitButton" onclick="submit_entry()">
                Signup
        </button>
        </div>

    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script src="/static/js_signup/script.js"></script>

    </div>
    
    </div>

    <!--===============================================================================================-->
    <script src="/static/vendor_home/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script src="/static/vendor_home/animsition/js/animsition.min.js "></script>
    <!--===============================================================================================-->
    <script src="/static/vendor_home/bootstrap/js/popper.js "></script>
    <script src="/static/vendor_home/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <script src="/static/vendor_home/select2/select2.min.js "></script>
    <script>
        $(".js-select2 ").each(function() {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });


            $(".js-select2 ").each(function() {
                $(this).on('select2:close', function(e) {
                    if ($(this).val() == "Please chooses ") {
                        $('.js-show-service').slideUp();
                    } else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="/static/vendor_home/daterangepicker/moment.min.js "></script>
    <script src="/static/vendor_home/daterangepicker/daterangepicker.js "></script>
    <!--===============================================================================================-->
    <script src="/static/vendor_home/countdowntime/countdowntime.js "></script>
    <!--===============================================================================================-->
    <script src="/static/vendor_home/noui/nouislider.min.js "></script>
    <script>
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [1500, 3900],
            connect: true,
            range: {
                'min': 1500,
                'max': 7500
            }
        });

        var skipValues = [
            document.getElementById('value-lower'),
            document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function(values, handle) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
            $('.contact100-form-range-value input[name="from-value "]').val($('#value-lower').html());
            $('.contact100-form-range-value input[name="to-value "]').val($('#value-upper').html());
        });
    </script>
    <!--===============================================================================================-->
    <script src="/static/js/main.js "></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13 "></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

</body>

</html>
<!--===============================================================================================-->
<script src="/static/js/main.js "></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13 "></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

</body>

</html>