{% extends '/Client/home_base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/appearance.css">
<form action="/appearance/{{credentials.username}}" method="POST">

    <div class="wrap-input100 validate-input bg1 " data-validate="Please Type Your Userame or Email ">
        <span class="label-input100 ">Current Theme*</span>
        <input class="input100 text-center" type="text " name="recoveryinput" value="{{credentials.theme}}" disabled>
    </div>
    <div class="outer">

	<div class="section full-height over-hide px-4 px-sm-0">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-lg-10 col-xl-8 align-self-center padding-tb">
					<div class="section mx-auto text-center slider-height-padding">
			          	<input class="checkbox frst" type="radio" id="slide-1" name="slider" value="DARK THEME" />
			          	<label for="slide-1"></label>
			          	<input class="checkbox scnd" type="radio" name="slider" value="DEFAULT THEME" id="slider-2" checked/>
			          	<label for="slider-2"></label>
			          	<input class="checkbox thrd" type="radio" name="slider" value="MELLO X THROTTLERZ" id="slider-3"/>
			          	<label for="slider-3"></label>
			          	<input class="checkbox foth" type="radio" name="slider" value="CHROMA" id="slider-4"/>
			          	<label for="slider-4"></label>
						<ul>
							<li>
								<span>DARK THEME</span>
						    </li>
							<li>
								<span>DEFAULT THEME</span>
						    </li>
							<li>
								<span>MELLO X THROTTLERZ</span>
						    </li>
							<li>
								<span>CHROMA</span>
						    </li>
					    </ul>
				    </div>
			    </div>
	      	</div>
	    </div>
	</div>
<div id="snackbar">saving</div>
    </div>
    <div class="container-contact100-form-btn mb-5 " style="margin-top: 0px; ">
        <button class="button " style="width: 70%;font-family: Montserrat-Black; font-size: large;border-radius: 5px ">
            Save
        </button>
    </div>
    
</form>
<script>
    function showSnackbar() {
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
</script>

</div>
</div>

{% endblock %}