{% extends '/Client/home_base.html' %} {% block content%}
<script>
    window.history.pushState(null, "", window.location.href);
    window.onpopstate = function() {
        window.history.pushState(null, "", window.location.href);
    };
</script>

<span class="contact100-form-title" style="font-size: large;">
    {% if credentials.confirmation == "no" %}
    <a href="/sendconfirm/{{credentials.email}}">
        <h3 class="mb-4"
            style="font-family: Montserrat-SemiBold;font-size: small; text-decoration: 2px underline coral;">Please
            confirm Your email </h3>
    </a>

    {% endif %}
    <h3 class="mb-2" style="font-family: Montserrat-SemiBold;font-size: 14px;">Your Linklerz <a href="https://shwt.xyz/{{credentials.username}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
</svg></a></h3>
    <div class="outer mb-2">
        <div class="container">

            <div class="wrap-input100 bg1 rs1-wrap-input100 mb-3 inner">

                <button onclick="copyText()" class="fs-17"
                    style="font-family: Montserrat-Black; opacity: 0.5;font-weight: lighter; width: 100%;"> <input
                        class="input100 text-center p-0" id="myInput" type="text" style="height: 20px; width: 100%;"
                        value="https://shwt.xyz/{{credentials.username}}"
                        placeholder="https://shwt.xyz/{{credentials.username}}"></button>
                <div id="snackbar">link is copied to clipboard</div>
            </div>
        </div>
    </div>


<div id="homeContent">

    {% if credentials.linktype == "" %}
    <p style="font-family: Montserrat-SemiBold;">Hurrah ! Create your first linklerz by clicking on the button below</p>
    {% endif %}

    {% for items in list_linktype %}
    {% if items != "" %}
    <div class="container mb-4 ">
        <div class="container__item">

            <input type="email " class="form__field " style="font-family: Montserrat-SemiBold;" value="{{items}}"
                   disabled/>
            <a href="/edit/{{credentials.username}}">
                <button type="submit" style="font-family: Montserrat-Black; "
                        class="btn btn--primary btn--inside uppercase ">Edit
                </button>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <br>
    <div class="outer ">
        <a href="/edit/{{credentials.username}}">
            <div class="container-contact100-form-btn inner " style="margin-top: 0px; ">
                <button class="button "
                        style="width: 70%;font-family: Montserrat-Black; font-size: large;border-radius: 5px ">
                    Add Links
                    <svg xmlns="http://www.w3.org/2000/svg " width="16 " height="16 " style="padding-top: 2px; "
                         fill="currentColor " class="bi bi-plus-lg " viewBox="0 0 16 16 ">
                        <path
                                d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z "/>
                    </svg>
                </button>
            </div>

        </a>
    </div>
</div>
<div id="settingsContent" style="display:none;">
    <div class="container">
        <a class="box mt-2" href="/login">
            <button>
                <h4 class="pt-2 settingsButton">Home</h4>
            </button>
        </a>

        <a class="box mt-4" href="/appearance/{{credentials.username}}">
            <button>
                <h4 class="pt-2 settingsButton">Appearance</h4>
            </button>
        </a>

        <a class="box mt-4" href="/profile/{{credentials.username}}">
            <button>
                <h4 class="pt-2 settingsButton">Edit Profile</h4>
            </button>
        </a>
        <a href="" class="box mt-4">
            <button>
                <h4 class="pt-2 settingsButton">Plans</h4>
            </button>
        </a>
        <a href="" class="box mt-4">
            <button>
                <h4 class="pt-2 settingsButton">Help</h4>
            </button>
        </a>
        <a class="box mt-4" onclick="confirmbox()">
            <button>
                <h4 class="pt-2 settingsButton">Logout</h4>
            </button>
        </a>

        <button id="popup" class="mt-4" onclick="showQR()"><svg style="margin-top: 5px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-qr-code-scan" viewBox="0 0 16 16">
  <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
  <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
  <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
  <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
  <path d="M12 9h2V8h-2v1Z"/>
</svg> <span style="margin-bottom: 12px;">QR</span></button>
     


    </div>


</div>

    {% endblock %}