<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linklerz™ | {{credentials.username}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/favicon/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/static/favicon/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/static/favicon/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/static/favicon/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/static/favicon/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/static/favicon/mstile-310x310.png"/>

    <!-- end -->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/animate/animate.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/css-hamburgers/hamburgers.min.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/animsition/css/animsition.min.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/select2/select2.min.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/daterangepicker/daterangepicker.css">
    <!--=========================================/static/======_home================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor_home/noui/nouislider.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css_home/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css_home/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/field.css">
    <link rel="stylesheet" type="text/css" href="/static/css_home/switch.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/text.css"> -->
    <!--===============================================================================================-->
    <style>
        .box {
            width: 65%;
            height: 50px;
            border: 2px solid black;
            margin: auto;
            /* position: relative; */
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        }

        .box:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }

        .vertical {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-family: Poppins-Regular, sans-serif;
            padding-top: 5px;
        }

        /* The snackbar - position it at the bottom and in the middle of the screen */

        #snackbar {
            visibility: hidden;
            /* Hidden by default. Visible on click */
            min-width: 250px;
            /* Set a default minimum width */
            margin-left: -125px;
            /* Divide value of min-width by 2 */
            background-color: #333;
            /* Black background color */
            color: #fff;
            /* White text color */
            text-align: center;
            /* Centered text */
            border-radius: 2px;
            /* Rounded borders */
            padding: 16px;
            /* Padding */
            position: fixed;
            /* Sit on top of the screen */
            z-index: 1;
            /* Add a z-index if needed */
            left: 50%;
            /* Center the snackbar */
            bottom: 30px;
            /* 30px from the bottom */
            font-family: Montserrat-SemiBold;
        }

        /* Show the snackbar when clicking on a button (class added with JavaScript) */

        #snackbar.show {
            visibility: visible;
            /* Show the snackbar */
            /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        /* Animations to fade the snackbar in and out */

        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }
               #loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        .center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

    </style>
        <link rel="stylesheet" href="/static/css_login/verification.css">


</head>

<body>
<div id="loader" class="center"></div>

<div class="container-contact100" style="background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);">

    <div class="wrap-contact100" style="padding-bottom: 0px;padding-top: 20px;">
        <div class="float-right">
            <a onclick="goBack()" style="cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                     class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                </svg>
            </a>
        </div>

        <span class="contact100-form-title"
              style="padding: 30px; font-family: Montserrat-SemiBold;font-size: 18.5px;">
                @{{credentials.username}}
                {% if credentials.plan == "premium" %}
                <img src="/static/img/pro.png" style="padding-bottom: 5px;" alt="" data-bs-toggle="tooltip"
                     data-bs-placement="top" title="Pro Badge">
                {% endif %}
                {% if credentials.confirmation == "no" %}
                <a href="/sendconfirm/{{credentials.email}}">
                    <h3 class="mt-3"
                        style="font-family: Montserrat-SemiBold;font-size: small; text-decoration: 2px underline coral;">
                        Please confirm Your email </h3>
                </a>
            </span> {% endif %}
        <span class="contact100-form-title" style="font-size: large; padding-bottom: 20px;">
                <!-- 
                <h3 class="mb-4" style="font-family: Montserrat-SemiBold; font-size: x-large;">Just few more steps!</h3> -->
            <!-- <h3 class="mb-3" style="font-family: Montserrat-SemiBold; font-size: large;">Already have account? <a href="/home" style="text-decoration: underline;font-family: Montserrat-SemiBold; font-size: large;">Login</a> </h3> -->
                <form class="contact100-form validate-form mt-3" action="/profile/{{credentials.username}}"
                      method="POST">
                    <div class="outer">
                        <div class="text-center pb-3">
                            <a class="txt2" href="#" style="color: red;">
                                {{error}}
                            </a>
                        </div>
                        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 inner mb-4"
                             data-validate="Your Username (e@a.x)">
                            <span class="label-input100 float-left">Username *</span>
                            <input class="input100" type="text" id="username" name="username" value="{{credentials.username}}"
                                   required>
                        </div>
                        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 inner mb-4"
                             data-validate="Your auth (e@a.x)">
                            <span class="label-input100 float-left" style="float:right;">2Auth *</span>
                                {% if credentials.auth == 'no' %}
                            <div class="button-switch">
  <input type="checkbox" value="close_to_open" name="auth_switch_off" id="switch-orange" class="switch"/>
  <label for="switch-orange" class="lbl-off">Off</label>
  <label for="switch-orange" class="lbl-on">On</label>
</div> {% else %}<div class="button-switch">
  <input type="checkbox" id="switch-blue" value="open_to_close" name="auth_switch_on" class="switch" checked/>
  <label for="switch-blue" class="lbl-off">Off</label>
  <label for="switch-blue" class="lbl-on">On</label>
</div>{% endif %}
                        </div>


                        <!-- email address -->
                        <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 inner mb-4"
                             data-validate="Your Email (e@a.x)">
                            <span class="label-input100 float-left">Email *</span>
                            <input class="input100"  type="text" name="email" value="{{credentials.email}}" required
                                   disabled>
                        </div>

                        <!-- Phone --> 
                        
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 inner mb-4" data-validate="Your Phone (+)"  >
        <span class="label-input100 float-left">Phone *</span>
        <a href="#verify">
{% if credentials.phone == "" %} <input style="cursor:pointer" id="parentphoneEntry"  class="input100" type="text" name="phone1"                                                                      value="Add phone" required
                                                                      disabled> 

<button class="float-right shadow-lg bg-body rounded" disabled>
<span style="font-size:1.8em" ><i class="fa fa-plus" aria-hidden="true"></i></span></button> 

{% else %}


<input class="input100" id="parentphoneEntry"  style="cursor:pointer" type="text" name="phone2" type="submit" value="{{credentials.phone}}" required disabled> 

<button class="float-right shadow-lg bg-body rounded" disabled><span style="font-size:1.8em"><i class="fa fa-cog" aria-hidden="true"></i></span></button>{% endif %}
                        </div>
                        </a>
      <div id="verify" class="overlay">
    <div class="popup" id="popup" style="background-color:#Fdfcfa">
        <div id="sendOTPDiv" class="content">

        <span>Select Country</span>
        <a class="close" href="#">&times;</a>

        <div class="wrap-input100 input100-select bg1 mb-2"  style="width: 70%; margin: 10px auto; font-family: Montserrat-SemiBold; ">
        <span class="label-input100 " >SELECT COUNTRY *</span>
        <div>
<select class="js-select2" id="countryEntry" name="country">
                <option value="">Please choose</option>
   <option value="Afganistan">Afghanistan</option>
   <option value="Albania">Albania</option>
   <option value="Algeria">Algeria</option>
   <option value="American Samoa">American Samoa</option>
   <option value="Andorra">Andorra</option>
   <option value="Angola">Angola</option>
   <option value="Anguilla">Anguilla</option>
   <option value="Antigua & Barbuda">Antigua & Barbuda</option>
   <option value="Argentina">Argentina</option>
   <option value="Armenia">Armenia</option>
   <option value="Aruba">Aruba</option>
   <option value="Australia">Australia</option>
   <option value="Austria">Austria</option>
   <option value="Azerbaijan">Azerbaijan</option>
   <option value="Bahamas">Bahamas</option>
   <option value="Bahrain">Bahrain</option>
   <option value="Bangladesh">Bangladesh</option>
   <option value="Barbados">Barbados</option>
   <option value="Belarus">Belarus</option>
   <option value="Belgium">Belgium</option>
   <option value="Belize">Belize</option>
   <option value="Benin">Benin</option>
   <option value="Bermuda">Bermuda</option>
   <option value="Bhutan">Bhutan</option>
   <option value="Bolivia">Bolivia</option>
   <option value="Bonaire">Bonaire</option>
   <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
   <option value="Botswana">Botswana</option>
   <option value="Brazil">Brazil</option>
   <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
   <option value="Brunei">Brunei</option>
   <option value="Bulgaria">Bulgaria</option>
   <option value="Burkina Faso">Burkina Faso</option>
   <option value="Burundi">Burundi</option>
   <option value="Cambodia">Cambodia</option>
   <option value="Cameroon">Cameroon</option>
   <option value="Canada">Canada</option>
   <option value="Canary Islands">Canary Islands</option>
   <option value="Cape Verde">Cape Verde</option>
   <option value="Cayman Islands">Cayman Islands</option>
   <option value="Central African Republic">Central African Republic</option>
   <option value="Chad">Chad</option>
   <option value="Channel Islands">Channel Islands</option>
   <option value="Chile">Chile</option>
   <option value="China">China</option>
   <option value="Christmas Island">Christmas Island</option>
   <option value="Cocos Island">Cocos Island</option>
   <option value="Colombia">Colombia</option>
   <option value="Comoros">Comoros</option>
   <option value="Congo">Congo</option>
   <option value="Cook Islands">Cook Islands</option>
   <option value="Costa Rica">Costa Rica</option>
   <option value="Cote DIvoire">Cote DIvoire</option>
   <option value="Croatia">Croatia</option>
   <option value="Cuba">Cuba</option>
   <option value="Curaco">Curacao</option>
   <option value="Cyprus">Cyprus</option>
   <option value="Czech Republic">Czech Republic</option>
   <option value="Denmark">Denmark</option>
   <option value="Djibouti">Djibouti</option>
   <option value="Dominica">Dominica</option>
   <option value="Dominican Republic">Dominican Republic</option>
   <option value="East Timor">East Timor</option>
   <option value="Ecuador">Ecuador</option>
   <option value="Egypt">Egypt</option>
   <option value="El Salvador">El Salvador</option>
   <option value="Equatorial Guinea">Equatorial Guinea</option>
   <option value="Eritrea">Eritrea</option>
   <option value="Estonia">Estonia</option>
   <option value="Ethiopia">Ethiopia</option>
   <option value="Falkland Islands">Falkland Islands</option>
   <option value="Faroe Islands">Faroe Islands</option>
   <option value="Fiji">Fiji</option>
   <option value="Finland">Finland</option>
   <option value="France">France</option>
   <option value="French Guiana">French Guiana</option>
   <option value="French Polynesia">French Polynesia</option>
   <option value="French Southern Ter">French Southern Ter</option>
   <option value="Gabon">Gabon</option>
   <option value="Gambia">Gambia</option>
   <option value="Georgia">Georgia</option>
   <option value="Germany">Germany</option>
   <option value="Ghana">Ghana</option>
   <option value="Gibraltar">Gibraltar</option>
   <option value="Great Britain">Great Britain</option>
   <option value="Greece">Greece</option>
   <option value="Greenland">Greenland</option>
   <option value="Grenada">Grenada</option>
   <option value="Guadeloupe">Guadeloupe</option>
   <option value="Guam">Guam</option>
   <option value="Guatemala">Guatemala</option>
   <option value="Guinea">Guinea</option>
   <option value="Guyana">Guyana</option>
   <option value="Haiti">Haiti</option>
   <option value="Hawaii">Hawaii</option>
   <option value="Honduras">Honduras</option>
   <option value="Hong Kong">Hong Kong</option>
   <option value="Hungary">Hungary</option>
   <option value="Iceland">Iceland</option>
   <option value="Indonesia">Indonesia</option>
   <option value="India">India</option>
   <option value="Iran">Iran</option>
   <option value="Iraq">Iraq</option>
   <option value="Ireland">Ireland</option>
   <option value="Isle of Man">Isle of Man</option>
   <option value="Israel">Israel</option>
   <option value="Italy">Italy</option>
   <option value="Jamaica">Jamaica</option>
   <option value="Japan">Japan</option>
   <option value="Jordan">Jordan</option>
   <option value="Kazakhstan">Kazakhstan</option>
   <option value="Kenya">Kenya</option>
   <option value="Kiribati">Kiribati</option>
   <option value="Korea North">Korea North</option>
   <option value="Korea Sout">Korea South</option>
   <option value="Kuwait">Kuwait</option>
   <option value="Kyrgyzstan">Kyrgyzstan</option>
   <option value="Laos">Laos</option>
   <option value="Latvia">Latvia</option>
   <option value="Lebanon">Lebanon</option>
   <option value="Lesotho">Lesotho</option>
   <option value="Liberia">Liberia</option>
   <option value="Libya">Libya</option>
   <option value="Liechtenstein">Liechtenstein</option>
   <option value="Lithuania">Lithuania</option>
   <option value="Luxembourg">Luxembourg</option>
   <option value="Macau">Macau</option>
   <option value="Macedonia">Macedonia</option>
   <option value="Madagascar">Madagascar</option>
   <option value="Malaysia">Malaysia</option>
   <option value="Malawi">Malawi</option>
   <option value="Maldives">Maldives</option>
   <option value="Mali">Mali</option>
   <option value="Malta">Malta</option>
   <option value="Marshall Islands">Marshall Islands</option>
   <option value="Martinique">Martinique</option>
   <option value="Mauritania">Mauritania</option>
   <option value="Mauritius">Mauritius</option>
   <option value="Mayotte">Mayotte</option>
   <option value="Mexico">Mexico</option>
   <option value="Midway Islands">Midway Islands</option>
   <option value="Moldova">Moldova</option>
   <option value="Monaco">Monaco</option>
   <option value="Mongolia">Mongolia</option>
   <option value="Montserrat">Montserrat</option>
   <option value="Morocco">Morocco</option>
   <option value="Mozambique">Mozambique</option>
   <option value="Myanmar">Myanmar</option>
   <option value="Nambia">Nambia</option>
   <option value="Nauru">Nauru</option>
   <option value="Nepal">Nepal</option>
   <option value="Netherland Antilles">Netherland Antilles</option>
   <option value="Netherlands">Netherlands (Holland, Europe)</option>
   <option value="Nevis">Nevis</option>
   <option value="New Caledonia">New Caledonia</option>
   <option value="New Zealand">New Zealand</option>
   <option value="Nicaragua">Nicaragua</option>
   <option value="Niger">Niger</option>
   <option value="Nigeria">Nigeria</option>
   <option value="Niue">Niue</option>
   <option value="Norfolk Island">Norfolk Island</option>
   <option value="Norway">Norway</option>
   <option value="Oman">Oman</option>
   <option value="Pakistan">Pakistan</option>
   <option value="Palau Island">Palau Island</option>
   <option value="Palestine">Palestine</option>
   <option value="Panama">Panama</option>
   <option value="Papua New Guinea">Papua New Guinea</option>
   <option value="Paraguay">Paraguay</option>
   <option value="Peru">Peru</option>
   <option value="Phillipines">Philippines</option>
   <option value="Pitcairn Island">Pitcairn Island</option>
   <option value="Poland">Poland</option>
   <option value="Portugal">Portugal</option>
   <option value="Puerto Rico">Puerto Rico</option>
   <option value="Qatar">Qatar</option>
   <option value="Republic of Montenegro">Republic of Montenegro</option>
   <option value="Republic of Serbia">Republic of Serbia</option>
   <option value="Reunion">Reunion</option>
   <option value="Romania">Romania</option>
   <option value="Russia">Russia</option>
   <option value="Rwanda">Rwanda</option>
   <option value="St Barthelemy">St Barthelemy</option>
   <option value="St Eustatius">St Eustatius</option>
   <option value="St Helena">St Helena</option>
   <option value="St Kitts-Nevis">St Kitts-Nevis</option>
   <option value="St Lucia">St Lucia</option>
   <option value="St Maarten">St Maarten</option>
   <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
   <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
   <option value="Saipan">Saipan</option>
   <option value="Samoa">Samoa</option>
   <option value="Samoa American">Samoa American</option>
   <option value="San Marino">San Marino</option>
   <option value="Sao Tome & Principe">Sao Tome & Principe</option>
   <option value="Saudi Arabia">Saudi Arabia</option>
   <option value="Senegal">Senegal</option>
   <option value="Seychelles">Seychelles</option>
   <option value="Sierra Leone">Sierra Leone</option>
   <option value="Singapore">Singapore</option>
   <option value="Slovakia">Slovakia</option>
   <option value="Slovenia">Slovenia</option>
   <option value="Solomon Islands">Solomon Islands</option>
   <option value="Somalia">Somalia</option>
   <option value="South Africa">South Africa</option>
   <option value="Spain">Spain</option>
   <option value="Sri Lanka">Sri Lanka</option>
   <option value="Sudan">Sudan</option>
   <option value="Suriname">Suriname</option>
   <option value="Swaziland">Swaziland</option>
   <option value="Sweden">Sweden</option>
   <option value="Switzerland">Switzerland</option>
   <option value="Syria">Syria</option>
   <option value="Tahiti">Tahiti</option>
   <option value="Taiwan">Taiwan</option>
   <option value="Tajikistan">Tajikistan</option>
   <option value="Tanzania">Tanzania</option>
   <option value="Thailand">Thailand</option>
   <option value="Togo">Togo</option>
   <option value="Tokelau">Tokelau</option>
   <option value="Tonga">Tonga</option>
   <option value="Trinidad & Tobago">Trinidad & Tobago</option>
   <option value="Tunisia">Tunisia</option>
   <option value="Turkey">Turkey</option>
   <option value="Turkmenistan">Turkmenistan</option>
   <option value="Turks & Caicos Is">Turks & Caicos Is</option>
   <option value="Tuvalu">Tuvalu</option>
   <option value="Uganda">Uganda</option>
   <option value="United Kingdom">United Kingdom</option>
   <option value="Ukraine">Ukraine</option>
   <option value="United Arab Erimates">United Arab Emirates</option>
   <option value="United States of America">United States of America</option>
   <option value="Uraguay">Uruguay</option>
   <option value="Uzbekistan">Uzbekistan</option>
   <option value="Vanuatu">Vanuatu</option>
   <option value="Vatican City State">Vatican City State</option>
   <option value="Venezuela">Venezuela</option>
   <option value="Vietnam">Vietnam</option>
   <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
   <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
   <option value="Wake Island">Wake Island</option>
   <option value="Wallis & Futana Is">Wallis & Futana Is</option>
   <option value="Yemen">Yemen</option>
   <option value="Zaire">Zaire</option>
   <option value="Zambia">Zambia</option>
   <option value="Zimbabwe">Zimbabwe</option>
</select>
            <div class="dropDownSelect2 "></div>
        </div>
    </div>

        <span >Enter phone number</span>
        <a class="close" href="#">&times;</a>
        

             <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 inner mb-4 mt-2"
                             data-validate="Your Phone (+1-9)" style="width: 70%">
                            <input class="input100" id="phoneEntry" type="number" value="{{credentials.phone}}" required style="font-size:large;" maxlength="14" placeholder="type phone here">
                        </div>
          <p id="phoneError" style="font-size:14px; color:red;font-family: Montserrat-Black;margin-bottom: 8px;"></p> 


    <button class="button" id="sendotpBtn" style="width: 50%;font-family: Montserrat-Black; font-size: large;border-radius: 5px "  disabled><a onclick="sendOTP()" style="font-family: Montserrat-Black; font-size: large;">    
          <span>Send OTP</span> 
</a>

    </button>

        </div>

            <div id="verifyOTPDiv" class="content" style="display:none;">
                        <span >Enter OTP sent to <span id="phoneNumber"></span> </span>

             <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 inner mb-4 mt-2"
                             data-validate="OTP (+1-9)" style="width: 70%">
                            <input class="input100" id="otpEntry" type="number" value="{{credentials.phone}}" required style="font-size:large;" maxlength="4" placeholder="type code here">
                        </div>

        <p id="otpError" style="font-size:14px; color:red;font-family: Montserrat-Black;margin-bottom: 8px;"></p> 
    <button class="button" id="verifyotpBtn" style="width: 50%;font-family: Montserrat-Black; font-size: large;border-radius: 5px "  disabled><a onclick="verifyOTP()" style="font-family: Montserrat-Black; font-size: large;">    
          <span>Verify</span> 
</a>

    </button>

            </div>
    </div>
</div>

                        <!-- plan -->
                        <button class="box mt-3 mb-3">
                            <a href="/profile">
                                <h5 class="mb-2" style="font-family: Montserrat-SemiBold; ">{{credentials.plan}}
                                </h5>
                            </a>
                        </button>
                        <button class="box mt-3 mb-3">
                            <a onclick="goBack()">
                                <h6 class="mb-2" style="font-family: Montserrat-SemiBold; ">{{credentials.theme}}
                                </h6>
                            </a>
                        </button>

                    </div>

                    <div class=" outer">
                        <div class="container-contact100-form-btn mb-5 " style="margin-top: 0px; ">
                            <button class="button" type="submit"
                                    style="width: 70%;font-family: Montserrat-Black; font-size: large;border-radius: 5px ">
                                Save
                            </button>
                        </div>
                        <a href="/deletelog/{{credentials.email}}/{{credentials.username}}">
                            <h4 class="mb-1"
                                style="font-family: Montserrat-SemiBold; font-size: large; text-decoration: underline;">
                                Delete Account</h4>
                        </a>
                    </div>
                </form>
                <script>
                 
                </script>

                <style>
                    .btnactive{
                        background-color: #333;
                        opacity: 0.7;
                    }

                    .inner {
                        display: table;
                        margin: 0 auto;
                        /* border: 1px solid black; */
                    }

                    .outer {
                        /* border: 1px solid red; */
                        width: 100%
                    }
                    .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 80%;
  }
  .popup{
    width: 80%;
  }
}
                </style>

    </div>
</div>


<script src="/static/js_login/verification.js"></script>
<script src="/static/js_profile/script.js"></script>



<!--===============================================================================================-->
<script src="/static/vendor_home/jquery/jquery-3.2.1.min.js "></script>
<!--===============================================================================================-->
<script src="/static/vendor_home/animsition/js/animsition.min.js "></script>
<!--===============================================================================================-->
<script src="/static/vendor_home/bootstrap/js/popper.js "></script>
<script src="/static/vendor_home/bootstrap/js/bootstrap.min.js "></script>
<!--===============================================================================================-->
<script src="/static/vendor_home/select2/select2.min.js "></script>
<script>
        $(".js-select2 ").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });


            $(".js-select2 ").each(function () {
                $(this).on('select2:close', function (e) {
                    if ($(this).val() == "Please chooses ") {
                        $('.js-show-service').slideUp();
                    } else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
        })









</script>
<!--===============================================================================================-->
<script src="/static/vendor_home/daterangepicker/moment.min.js "></script>
<script src="/static/vendor_home/daterangepicker/daterangepicker.js "></script>
<!--===============================================================================================-->
<script src="/static/vendor_home/countdowntime/countdowntime.js "></script>
<!--===============================================================================================-->
<script src="/static/vendor_home/noui/nouislider.min.js "></script>
<script>
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [1500, 3900],
            connect: true,
            range: {
                'min': 1500,
                'max': 7500
            }
        });

        var skipValues = [
            document.getElementById('value-lower'),
            document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
            $('.contact100-form-range-value input[name="from-value "]').val($('#value-lower').html());
            $('.contact100-form-range-value input[name="to-value "]').val($('#value-upper').html());
        });









</script>
<!--===============================================================================================-->
<script src="/static/js/main.js "></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13 "></script>
<script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');









</script>

</body>

</html>
<!--===============================================================================================-->
<script src="/static/js/main.js "></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13 "></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');


</script>

</body>

</html>