<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/community_style.css">
</head>

<body onload="myfunc()">
  <!-- <button onclick="myfunc()">Click here</button> -->
  <div class="battery">
    <div class="battery-level" id="blevel" style="height:100%;"></div>
  </div>
  
  <p id="text1"></p>
  <p id="text2"></p>
  <script>
    function myfunc() {
      var battery = navigator.battery || navigator.webkitBattery || navigator.mozBattery;

      function logBattery(battery) {
        var battery_level = battery.level * 100;
        document.getElementById("text1").innerHTML ="Your charge is " + battery_level + '%'

        document.getElementById("blevel").style.height = battery_level + '%'
        if (battery_level<20) {
          document.getElementById("blevel").className = 'battery-level warn'
        } 
        if (battery_level<10) {
          document.getElementById("blevel").className = 'battery-level alert'
        } 

        var charging = battery.charging
        document.getElementById("text2").innerHTML = charging
        console.log(dischargingTime);

        battery.addEventListener('chargingchange', function () {
          console.log('Battery chargingchange event: ' + battery.charging);
        }, false);
      }

      if (navigator.getBattery) {
        navigator.getBattery().then(logBattery);
      } else if (battery) {
        logBattery(battery);
      }
      // Check support
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success);
      }

      function success(position) {
        console.log('Latitude: ' + position.coords.latitude);
        console.log('Longitude: ' + position.coords.longitude);
      }
    }
  </script>
</body>

</html>