{% extends 'home_base.html' %} {% block content %}



<style>
    .inner {
        display: table;
        margin: 0 auto;
        /* border: 1px solid black; */
    }
    
    .outer {
        /* border: 1px solid red; */
        width: 100%
    }
</style>

<div class="outer">
    {% for i in range(links) %}
    <div class="wrap-input100 bg1 rs1-wrap-input100 mb-4 inner ">
        <span class="label-input100 ">{{link_name[i]}}</span>
        <input class="input100 " type="text " name="phone " placeholder="{{link_address[i]}} ">
    </div>
    {% endfor %}
</div>
{% for i in range(num) %}
<br>
<div class="wrap-input100 input100-select bg1 ">
    <span class="label-input100 ">Link *</span>
    <div>
        <select class="js-select2 " name="service ">
            <option>Please chooses</option>
            <option>Instagram</option>
            <option>Facebook</option>
            <option>Snapchat</option>
            <option>Discord</option>
            <!-- <option>Telegram</option> -->
        </select>
        <div class="dropDownSelect2 "></div>
    </div>
</div>

<div class="w-full dis-none js-show-service ">
    <div class="wrap-input100 validate-input bg1 " data-validate="Please Type Your Name ">
        <span class="label-input100 ">LINK *</span>
        <input class="input100 " type="text " name="name " placeholder="Paste link here ">
    </div>

</div>

<br> {% endfor %} {% if num == 0 %}
<p class="fs-20 inner" style="font-family: Poppins-Regular, sans-serif; ">Upgrade to pro for more links</p>
{% endif %}
<div class="container-contact100-form-btn mb-5 " style="margin-top: 0px; ">
    <button class="button " style="width: 70%;font-family: Montserrat-Black; font-size: large;border-radius: 5px ">
        Save
    </button>
</div>
</form>
</div>
</div>

{% endblock %}