{% extends 'home_base.html' %} {% block content%}



<span class="contact100-form-title" style="font-size: large;">

                <h3 class="mb-5">Your Linklerz</h3>
                {% for i in range(links) %}
                <div class="container mb-4">
                    <div class="container__item">
                        <form class="form">
                            <input type="email" class="form__field" placeholder="{{link_name[i]}}" />
                            <a href="/edit" style="font-family: Montserrat-Black;">
                                <button type="button" class="btn btn--primary btn--inside uppercase">Edit</button>
                            </a>
                        </form>
                    </div>
                </div>
                {% endfor %}

                <style>
                    #inner {
                        display: table;
                        margin: 0 auto;
                        /* border: 1px solid black; */
                    }

                    #outer {
                        /* border: 1px solid red; */
                        width: 100%
                    }
                </style>
                <br><br>
                <div id="outer">
                    <a href="/edit">
                        <div class="container-contact100-form-btn " id="inner" style="margin-top: 0px;">
                            <button class="button "
                                style="width: 70%;font-family: Montserrat-Black; font-size: large;border-radius: 5px">
                                Add Links
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="padding-top: 2px;" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                                  </svg>
                            </button>
                        </div>

                    </a>
                </div>

        </div>
    </div>


    {% endblock %}