<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <button onclick="myfunc()">Click here</button>
    <script>
        function myfunc(){
            Swal.fire({
                title: 'Do you wan to logout?',
                text: "you may need to login again",
                showCancelButton: true,
                confirmButtonColor: '#2EE59D',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
              }).then((result) => {
                if (result.isConfirmed) {
                  Swal.fire(
                    'Logged out!',
                    'Your have been logged out',
                    'success'
                  )
                }
              })
        }
    </script>
</body>
</html>