{% extends 'home_base.html' %} {% block content %}

<style>
    .inner {
        display: table;
        margin: 0 auto;
        /* border: 1px solid black; */
    }

    .outer {
        /* border: 1px solid red; */
        width: 100%
    }
</style>

<form action="/recovery" method="POST">

    <div class="wrap-input100 validate-input bg1 " data-validate="Please Type Your Userame or Email ">
        <span class="label-input100 ">Type Here *</span>
        <input class="input100 " type="text " name="recoveryinput" placeholder="Email or Username">
    </div>
    <div class="outer">
        {% if arg != 'success' %}
    <h3 class="mb-2 inner" style="font-family: Montserrat-SemiBold; font-size: small; color: red;">{{arg}}</h3>
    {% endif %}
        {% if arg == 'success' %}
        <h3 class="mb-2 inner" style="font-family: Montserrat-SemiBold; font-size: small; color: rgb(57, 197, 38);">Successfully Verified, please check your email</h3>
    <meta http-equiv="refresh" content="2;url=/login" />
{% endif %}
<div id="snackbar">link is copied to clipboard</div>

        <p class="contact100-form-title inner" style="padding: 25px; font-family: Montserrat-SemiBold;font-size: medium;">
            You will receive a confirmation email which help guide you with further process
        </p>
    </div>
    <div class="container-contact100-form-btn mb-5 " style="margin-top: 0px; ">
        <button class="button " style="width: 70%;font-family: Montserrat-Black; font-size: large;border-radius: 5px ">
            Verify
        </button>
    </div>
    
</form>
<script>
    function showSnackbar() {
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
</script>

</div>
</div>

{% endblock %}